<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
    
    <div class="flex w-screen min-h-screen">
        <nav class="z-10 w-18 fixed left-0 h-screen text-4xl bg-stone-900  py-6 grid align-top justify-center">
            <div class="flex flex-col justify-between w-full h-full">
                <div class="flex flex-col place-items-center gap-6">
                    <h3 class="font-bold text-lg text-center text-blue-500"><img class="w-14"
                        src="https://upload.wikimedia.org/wikipedia/en/0/01/CDOT_logo.gif">C-DOT</h3>
                        <i class="fa fa-home text-stone-200 p-4 hover:bg-gray-600 rounded-xl" aria-hidden="true"></i>
                        
                    </div>
                    <div>
                        <hr class="">
                    </hr>
                    <form action="/api/v1/auth/logout" method='POST'><button
                        class="fa fa-sign-out text-red-600 p-4 hover:bg-red-200 rounded-xl"
                        aria-hidden="true"></button></form>
                    </div>
                </div>
            </nav>
            <div class="pl-12 w-full bg-neutral-200">
                <nav class="w-full h-10  px-12 bg-neutral-200 flex justify-between place-items-center">
                    <i class="fa fa-calendar-o flex gap-2 text-lg" aria-hidden="true">
                        <h1 class="text-neutral-500 italic" id="date"></h1>
                        <div id="progress"></div>
                    </i>
                    <div class="text-2xl flex gap-12 place-items-center">
                        <button class="text-white bg-black rounded-lg px-5 py-2 text-xs flex gap-2 place-items-center"><i
                            class="fa fa-bolt text-white" aria-hidden="true"></i> Upgrade</button>
                            <i class="fa fa-user-circle text-neutral-700" aria-hidden="true"></i>
                            <i class="fa fa-cog text-neutral-700" aria-hidden="true"></i>
                        </div>
                    </nav>
                    <div class="h-[92vh] place-items-start flex gap-6 py-5 px-10">
                        <div class="flex flex-col gap-6 w-80 h-full">
                            <h1 class="text-2xl font-semibold">Dashboard</h1>
                            <div class="bg-white rounded-2xl w-full p-5">
                                <h1 class="text-4xl font-medium ">Hi, {{username}}</h1>
                                <p class="text-lg text-neutral-400 py-5">What are we doing today?</p>
                            </div>
                    <div class="bg-white rounded-2xl w-full h-full p-5">

                    </div>
                </div>
                <div class="w-full h-full">
                    <div class="w-full h-full grid place-items-center bg-white rounded-2xl">
                        <div class="text-center">
                            <h1 class="text-6xl font-bold">Welcome to AI Dashboard!</h1>
                            <p class="text-xl text-neutral-400">Get started by choosing from the following AI model. Not
                                sure where to start?</p>
                            <div class="grid md:grid-cols-1 px-32 lg:grid-cols-2 gap-10 py-10">
                                <button
                                    class="open-modal p-5 text-xl font-semibold border-2 border-neutral-200 hover:bg-neutral-200 rounded-xl flex gap-6 place-items-center"  data-action="/api/v1/mridul/dashboard?predict_img"><i
                                        class="fa fa-picture-o text-4xl text-blue-600" aria-hidden="true"></i>Image
                                    Segmentation</button>
                                <button
                                    class="open-modal p-5 text-xl font-semibold border-2 border-neutral-200 hover:bg-neutral-200 rounded-xl flex gap-6 place-items-center"  data-action="/api/v1/mridul/dashboard?predict_video"
                                    data-action="/api/v1/model/image-segmentation"><i
                                        class="fa fa-object-group text-4xl text-orange-500"
                                        aria-hidden="true"></i>Object Detection in Video</button>
                                <button
                                    class="open-modal p-5 text-xl font-semibold border-2 border-neutral-200 hover:bg-neutral-200 rounded-xl flex gap-6 place-items-center"  data-action="/api/v1/mridul/dashboard/predict_df"><i
                                        class="fa fa-meh-o text-4xl text-red-600" aria-hidden="true" ></i>Deep
                                    Fake!</button>
                                <button
                                    class="open-modal p-5 text-xl font-semibold border-2 border-neutral-200 hover:bg-neutral-200 rounded-xl flex gap-6 place-items-center"><i
                                        class="fa fa-fire text-4xl text-yellow-400" aria-hidden="true" data-action="/api/v1/mridul/image-segmentation"></i>Real-time
                                    Trespassing Detection</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        {% if resultImage%}
            <div id="Image modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full grid place-items-center">
                <div class="relative mx-auto p-5 border w-[50vw] shadow-lg rounded-md bg-white">
                    <div class="mt-3 text-center">
                        <h1 id='message'>{{resultImage}}</h1>
                        <img id='resultImage' src={{resultImage}}>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <!-- Modal -->
        <div id="modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full grid place-items-center hidden">
            <div class="relative mx-auto p-5 border w-[50vw] shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                    <div class="p-10 mt-5 bg-stone-100 rounded-2xl flex flex-col place-items-center">
                        <h1 class="text-xl font-bold ">File Upload</h1>
                        <p class="tracking-tighter">Please upload images or video file below. <i
                                class="text-red-600">Make sure the file
                                size in under 300MB</i></p>
                        <form id="upload-form" method="POST" enctype="multipart/form-data"
                            class="border border-dashed mt-10 w-full border-4 border-gray-300 rounded-xl flex flex-col place-items-center p-24 w-80">
                            <input type="file" name='img' id="file-input">
                            <i aria-hidden="true" alt="Upload Icon"
                                class="fa fa-cloud-upload bg-stone-200 text-4xl p-5 rounded-full cursor-pointer"
                                id="upload-icon"></i>
                                
                            <h1 class="font-bold text-2xl text-blue-500">Drop Your Files Here</h1>
                            <p class="tracking-tighter">or browse files from your computer</p>
                            <div class="items-center px-4 py-3">
                                <button id="close-modal"
                                    class="px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('upload-icon').onclick = function () {
            document.getElementById('file-input').click();
        };
        document.getElementById("date").textContent = new Date().toLocaleDateString();

        var modal = document.getElementById('modal');

        var openModalButtons = document.querySelectorAll('.open-modal');

        openModalButtons.forEach(button => {
            button.addEventListener('click', function () {
                var form = document.getElementById('upload-form');
                form.setAttribute('action', this.getAttribute('data-action'));
                modal.classList.remove('hidden');
            });
        });

        var closeModalButton = document.getElementById('close-modal');

        closeModalButton.onclick = function () {
            modal.classList.add('hidden');
        };

        function startListening() {
            const eventSource = new EventSource("/api/v1/mridul/predict/img");
            eventSource.onmessage = function(event) {
                const progressElement = document.getElementById("progress");
                progressElement.innerHTML += `<p>${event.data}</p>`;
            };
        }

        //var socket = io({
        //    transports: ['websocket'],
        //    upgrade: false,
        //    reconnection: false
        //});
//
        //socket.on('connect', function() {
        //    console.log('Connected to the server');
        //});
//
        //socket.on('connect_error', function(error) {
        //    console.error('Connection Error:', error);
        //});
//
        //socket.on('disconnect', function(reason) {
        //    console.log('Disconnected:', reason);
        //});
        //socket.on('progress', function(data) {
        //    console.log(data)
        //    document.getElementById('progress').innerHTML = data
        //});
        //function fetchUpdate(){
        //    setInterval(()=>{
        //        fetch(window.location.href)
        //    },10000)
        //}
//
        //fetchUpdate()

    });
    
</script>

</html>